.cover_container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.cover_right {
    width: 100%;
    height: 100%;
    display: block;
    background-image: url("../../assets/cover-right.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}

.cover_left {
    width: 100%;
    height: 100%;
    display: block;
    background-image: url("../../assets/cover-left.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}